{% extends 'base.html.twig' %}

{% block body %}

    <div class="flex gap-3 pb-4">

        <div class="card bg-neutral text-neutral-content">
            <div class="card-body items-center text-center">
                <p>Seb</p>
            </div>
        </div>

        <div class="card bg-neutral text-neutral-content">
            <div class="card-body items-center text-center">
                <p>Kris</p>
            </div>
        </div>

        <div class="card bg-neutral text-neutral-content">
            <div class="card-body items-center text-center">
                <p>Mira</p>
            </div>
        </div>

    </div>

    <div class="flex">
    <div class="flex flex-col">

        <div class="card w-96 bg-neutral text-neutral-content">
            <div class="card-body items-center text-center">
                <h2 class="card-title pb-4">Seb</h2>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Skip next</button>
                    <button class="btn btn-primary">Choose manually</button>
                </div>
            </div>
        </div>

    </div>

    <div class="items-center">
        losuj
    </div>
</div>

{% endblock %}
